[project]
name = "music-rag"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "dotenv>=0.9.9",
    "supabase>=2.24.0",
]

[dependency-groups]
dev = [
    "ipykernel>=7.1.0",
]
